// Branding
// -----------------------------------------------------------------------------
.site-branding {

  &__logo {

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__name {

  }

  &__slogan {

  }
}
